{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h2>Creating Warrior reference to Facebook group: "{{ GroupName }}"</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}