{% extends 'base.html.twig' %}

{% block body %}
    <h2>Welcome back, {{ user.surname }} {{ user.name }}</h2>

    <p>
        These are your groups:<br>
    </p>

    <ul>
    {% for group in groups %}
                <li>{{ group.name }}</li>
            {% endfor %}
    </ul>

{% endblock %}